<!-- START - Header -->
<header>
  <!-- START - Navbar -->
  <nav id="navbar">
    <!-- navbar header -->
    <header class="navbar__header">
      <h1 class="navbar__heading">Technical Documentation</h1>
      <p class="navbar__content">Learn more about the languages</p>
    </header>
    <!-- navbar header -->

    <!-- navbar lists -->
    <div class="navbar__links">
      <ul class="navbar__lists">
        <li class="list__items">
          <a href="#html" class="nav-link">HTML</a>
        </li>
        <li class="list__items"><a href="#css" class="nav-link">CSS</a></li>
        <li class="list__items">
          <a href="#javascript" class="nav-link">JavaScript</a>
        </li>
        <li class="list__items">
          <a href="#react" class="nav-link">React</a>
        </li>
        <li class="list__items"><a href="#git" class="nav-link">Git</a></li>
      </ul>
    </div>
    <!-- navbar lists -->
  </nav>
  <!-- END - Navbar -->
</header>
<!-- END - Header -->
