<!-- START - Section 1 - HTML -->
<section id="html" class="main-section">
  <h2 class="main-section__header">HTML</h2>

  <div class="main-section__body">
    <p>With HTML you can build the elements of a website</p>
    <p>
      Also, you can make your website responsive to different screen sizes.
      <br />
      Below is an example of HTML code:
    </p>

    <code> &lt;section&gt;This is a section element&lt;/section&gt;</code>

    <ul>
      <li class="list__items">
        <a href="https://www.w3schools.com/html/default.asp" target="_blank"
          >Learn More about HTML</a
        >
      </li>
    </ul>
  </div>
</section>
<!-- END - Section 1 - HTML -->
